[chihuahua-1]

[cosmoshub-4]

[crescent-1]

[jackal-1]

[joe-1]

[juno-1]

[meme-1]

[monitor]

[omniflixhub-1]

[osmosis-1]

[proxy]

[sommelier-3]

[stargaze-1]

[stride-1]

[teritori-1]

[all:vars]
exclude_node=""
ansible_connection=ssh
ansible_user=root
